body{
    background: #f23557;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding-bottom: 50px;
    padding-top: 30px;
}

#app{
    display: grid;
    grid-template-rows: 80px 1fr 1fr 1fr;
    /* grid-template-columns:  */
    height:100vh;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 2em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{

}

.entry{
    background: rgba(59, 74, 107, .4);
    padding-left:10px;
    padding-top: 5px;
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding-left: 7px;
}

button{
    width: 240px;
    height: 60px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 9.5em;
}
select{
    background:#22da4a;
    color: #0c0a01;
    border-radius: 5px;
    font-size: 0.8em;
    margin-bottom: 5px;

}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 